---
- name: Docker build, scan, and push
  hosts: local  # Replace with the hostname or IP address of your target server
  become: yes  # Run tasks with sudo privileges

  tasks:
    - name: Update apt package cache
      apt:
        update_cache: yes   

    - name: Build Docker Image
      command: docker build -t petstore .
      args:
        chdir: /var/lib/jenkins/workspace/petstore

    - name: Tag Docker image
      command: docker tag petstore rizwanshaukat/petstore:latest 

    - name: Scan Docker image with Trivy
      command: trivy image rizwanshaukat/petstore:latest
      args:
        chdir: /var/lib/jenkins/workspace/petstore
      register: trivy_scan
      ignore_errors: yes

    - name: Save Trivy scan output to file
      copy:
        content: "{{ trivy_scan.stdout }}"
        dest: /var/lib/jenkins/workspace/petstore/trivyimage.txt
        remote_src: yes
        mode: 'a+'  # Append mode
      when: trivy_scan.stdout is defined

    - name: Log in to Docker Hub
      community.docker.docker_login:
        registry_url: https://index.docker.io/v1/
        username: "{{ DOCKER_USERNAME }}"
        password: "{{ DOCKER_PASSWORD }}"

    - name: Push Docker image
      command: docker push rizwanshaukat/petstore:latest

    - name: Remove existing Docker container
      command: docker rm petstore -f || true
      ignore_errors: true
        
    - name: Run Docker container
      command: docker run -d --name petstore -p 8081:8080 rizwanshaukat/petstore:latest
      register: run_result
      ignore_errors: yes

    - name: Log failure if the container failed to start
      debug:
        msg: "Failed to run container: {{ run_result.stderr }}"
      when: run_result.rc != 0
